---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-4xl text-gray-800 mx-auto">
        Diversity의 구성원을 만나보세요.
      </h2>
      <p
        class="text-lg leading-relaxed text-slate-500 text-center mx-auto mb-8 max-w-[52ch]">
        웹, 해킹, 임베디드 등 다양한 분야의 기술에 관심이 많은 학생들의
        모임입니다. 학교와 선생님들의 도움을 받아 자율적으로 운영되고 있습니다.
      </p>
    </div>
    <div>
      <img src="/danchesajin.jpg" class="max-w-5xl mx-auto rounded-xl" />
    </div>
  </Container>
</Layout>
