---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">의견을 보내주세요.</Fragment>
    </Sectionhead>

    <div class="mx-auto mt-16">
      <div class="text-center">
        <h2 class="font-medium text-4xl text-gray-800">Contact Diversity</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          의견이 있나요? 저희에게 알려주세요.
        </p>
        <div class="mt-5">
          <div class="flex justify-center items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>서울 강남구 도곡로64길 21</span>
          </div><div class="flex justify-center items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:diversity@jcde.xyz"
              >diversity@jcde.xyz</a
            >
          </div><div class="flex justify-center items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+821040859839">01040859839</a
            >
          </div>
        </div>
      </div> 
    </div>
  </Container>
</Layout>
