---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "알고리즘",
    description:
      "알고리즘은 코딩에 있어서 필수적인 요소입니다. 저희는 알고리즘 역량을 향상시킬 수 있도록 도와줍니다.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "정보보안 & 해킹",
    description:
      "정보보안과 해킹에 대한 중요성은 오래 전부터 이미 증명되어 왔습니다. Diversity는 정보보안과 해킹의 미래를 책임질 차세대 인재를 계발합니다.",
    icon: "bx:bxs-bot",
  },
  {
    title: "임베디드 시스템",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "웹 프로그래밍",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Enabled",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Diversity가 뭐에요?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    개개인의 특징과 능력을 다양한 분야에서 활용 하고 본인의 창업 아이디어를 실행할 수 있는 동아리 입니다.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
