<div class="mt-16 md:mt-0 max-w-screen-xl mx-auto px-6">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Diversity가 뭐에요?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    개개인의 특징과 능력을 다양한 분야에서 활용 하고 본인의 창업 아이디어를
    실행할 수 있는 동아리 입니다.
  </p>
</div>
