---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";


export interface Props {
  title: string;
  noFooter?: boolean;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/oh.jpg",
  Astro.site
).toString();

const { title, noFooter } = Astro.props;

const makeTitle = title
  ? title + " | " + "Diversity"
  : "동아리 Diversity";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="나를 알고, 참에 살며, 공부하며 일하는 동아리, DIVERSITY."
      canonical={canonicalURL}
      twitter={{
        creator: "@iojcde", 
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Diversity`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Diversity Homepage Screenshot",
        },
      }}
    />
  </head>
  <body class={`${noFooter && 'h-[100vh-5rem]'}`}>
    <Navbar />
    <slot />
  {!noFooter && <Footer />}
      <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css" />
      <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
